#user-div {
	position: absolute;
	top: 10px;
	right: 20px;
}
/* --------------------------------------------------- */
#user-canvas {
	display: none;
} 
/* --------------------------------------------------- */
#user-video {
/* 	width: 250px;
	height: auto;
	min-height: 180px;
	background-color: #323232;
	background-image: url('../img/no-camera-you.png');
	background-repeat: no-repeat;		
	
	margin-left: 0px;
	margin-top: 20px;
	margin-bottom: 5px;
	margin-right: 0px;
	padding-top:100px;
 */} 
/* --------------------------------------------------- */
#generated-div {
	position: absolute;
	top: 30px;
	right: 40px;
}
/* --------------------------------------------------- */
#user-div {
/* 	margin: 0px;
	padding-left: 10px;
	padding-right: 10px;
	
	width: 305px;
	height: 400px;
	background-color:#44aa44;
	text-align: center;
 */}
/* --------------------------------------------------- */
body {
	background-color:#f0a11f;
}
/* --------------------------------------------------- */
#others-div {
	padding: 20px;
 */	background-color:#f0a11f;
	}